<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>

        <ion-col col-9>
          <ion-title class="header">
            <ion-icon name="arrow-dropleft-circle" (click)="changeMonth(-1)"></ion-icon>
            {{date.getMonth() + 1}}.{{date.getFullYear()}}
            <ion-icon name="arrow-dropright-circle" (click)="changeMonth(1)"></ion-icon>
          </ion-title>
        </ion-col>

        <ion-col col-3>
          <button ion-button full color="primary" (click)="newEvent()">new event</button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="calendar-container">

    <ion-grid class="weekday">
      <ion-row>
        <ion-col *ngFor="let day of weekday">{{day}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="calendar">
      <ion-row *ngFor="let week of month">
        <ion-col *ngFor="let day of week" [class.date-field]="!day.last && !day.next && !day.today" [class.offwhite]="day.last || day.next" [class.today]="day.today">

          <ion-row>

            <ion-col col-3 class="day-date" (click)="addEvent(day)">
              {{day.date.getDate()}}
            </ion-col>

            <ion-col col-6></ion-col>

            <ion-col col-3 *ngIf="day.events.length > 0" class="day-date-detail" (click)="showDay(day)">
              <ion-icon name="information-circle"></ion-icon>
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col col-12 class="day-date-event" *ngFor="let event of day.events" (click)="showEventDetails(event)" [style.background]="event.color">
              {{event.title}}
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
